{% extends 'polls/base.html' %} {% block content %}

<a id="add-link" href="{% url 'polls:choiceadd' pk=question.pk %}">&#x2b;</a>

<div id='quest' > 
    <h2>{{ question.question_text }}</h2>
</div>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}

{% for choice in question.choice_set.all %}
<div id="choices-wrapper">
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
</div>
{% endfor %} 
<p> </p>
<input id = "button" type="submit" value="Vote">
</form>



{% endblock content %}